# OpenAI Configuration
OPENAI_ENABLED=true
OPENAI_API_KEY=#your-openai-api-key
OPENAI_MODELS=gpt-5,gpt-5-mini,gpt-5-nano,o1,o1-mini # comma separated list of models

# Azure OpenAI Configuration
AZURE_ENABLED=true
AZURE_API_KEY=#your-azure-openai-api-key
AZURE_API_BASE=https://your-azure-openai-endpoint.openai.azure.com/
AZURE_API_VERSION=2024-02-15-preview
AZURE_MODELS=gpt-4.1

# Anthropic Configuration
ANTHROPIC_ENABLED=true
ANTHROPIC_API_KEY=#your-anthropic-api-key
ANTHROPIC_MODELS=claude-sonnet-4-20250514

# Ollama Configuration
OLLAMA_ENABLED=true
OLLAMA_API_BASE=http://localhost:11434
OLLAMA_MODELS=deepseek-v3.1:latest # models with good code generation capabilities recommended

# if you want to add other models, you can add them with PROVIDER_API_KEY=your-api-key, PROVIDER_MODELS=model1,model2 etc 
# (replacing PROVIDER with the provider name like GEMINI, ANTHROPIC, AZURE, OPENAI, OLLAMA etc. as long as they are supported by LiteLLM)